{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
  <h1>{{ playlist.name }}!</h1>
  {% if playlist.description %}
  <p class="lead">{{ playlist.description }}</p>
  {% endif %}
</div>


<div class="row justify-content-center">
  {% for song in playlist.songs %}
  <div class="col-4 card">
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p>{{song.title}}</p>
        <footer class="blockquote-footer"><cite>{{song.artist}}</cite></footer>
      </blockquote>
    </div>
  </div>
  {% endfor %}
</div>

<p>
  <a class="btn btn-primary" href="/playlists/{{ playlist.id }}/add-song">
    Add Song To Playlist
  </a>
</p>

{% endblock %}